<h1>bustle admin</h1>

<ul>
  {{#each model as |story|}}
  <li>{{#link-to 'story' story.id}}{{story.author}} wrote {{story.title}} {{story.timeAgo}} hours ago{{/link-to}}</li>
  {{/each}}
</ul>

{{new-story saveStory="saveStory"}}
