
<div class= "container">
  <header class= "jumbotron">
    <h1>WE LIKE YOU.</h1>
    <h1>LIKE US BACK!</h1>
  </header>
    {{outlet}}
  <hr>
  <p>
    BUSTLE
  </p>
  <a href="https://www.facebook.com">f</a>
  <a href="https://www.twitter.com">t</a>
  <a href="https://www.instagram.com">i</a>
  <a href="https://www.pinterest.com">p</a>
  <hr>
</div>
